<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Matt Leach</title>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>
    <div class='menu'>
      <p><a href='/' class='menu-link'>about</a></p>
      <p><a href='https://github.com/matt-leach' class='menu-link' target='blank'>projects</a></p>
    </div>


    <div class='main'>
      {% block content %}

      {% endblock %}
    </div>
</body>
</html>
