
@media (min-width: 800px) {
    .main, .menu {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.menu { max-width: 800px; height: 40px;}

.main { max-width: 800px; }

.map {
    position: relative;
    margin: 0 auto;
    width: 750px;
    height: 500px;
}

.menu-link {
  padding-left: 10px;
  float: right;
}

a {
  color: #BB0D50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.similar-map {
  height: 300px;
}
.eg-map {
  height: 300px;
}

.run-deets {
  font-style: italic;
  font-size: 17px;
}

path {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.main-map {
  height: 300px;
  width: 600px;
}
